.avatar {
  border-radius: 40px;
  border: 5px dotted #e92c6b;
}

@media screen and (max-width: 305px) {
  .avatar {
    width: 45%;
    border-radius: 50%;
  }
}

@media (min-width: 306px) and (max-width: 347px) {
  .about-section {
    margin-top: 70px;
  }

  .avatar {
    width: 50%;
    border-radius: 50%;
  }

  .about-text {
    margin: 0 25px;
  }
}

@media (min-width: 348px) and (max-width: 460px) {
  .about-section {
    margin-top:75px;
  }

  .avatar {
    width: 55%;
    border-radius: 50%;
  }

  .about-text {
    margin: 0 30px;
  }
}

@media (min-width: 461px) and (max-width: 510px) {
  .about-section {
    margin-top: 80px;
  }

  .avatar {
    width: 40%;
    margin: 20px;
    border-radius: 40%;
  }

  .about-text {
    margin: 0 35px;
  }
}

@media (min-width: 511px) and (max-width: 767px) {
  .about-section {
    margin-top: 100px;
  }

  .avatar {
    width: 55%;
    margin: 5px;
    border-radius: 40%;
  }
  
  .about-text {
    margin: 0 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .avatar {
    width: 60%;
    margin: 10px;
    border-radius: 45%;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  .about-section {
    margin-top: 100px;
  }
  .avatar {
    width: 75%;
    margin-top: 10px;
    border-radius: 30%;
    border: 5px dotted #e92c6b;
  }
  p {
    font-size: larger;
  }
}

@media (min-width: 1250px) and (orientation: landscape) {
  .about-section {
    margin-top: 150px;
  }
  .avatar {
    width: 80%;
  }
}
