.word-cloud {
  border-radius: 10%;
  padding: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.home-wrapper {
  margin: 50px auto;
}

@media screen and (max-width: 305px) {
  .word-cloud {
    width: 75%;
  }

  .text-wrapper {
    margin: 5px;
  }

  /* .home-wrapper {
    margin-top: 60px;
  } */
}

@media (min-width: 306px) and (max-width: 347px) {
  .word-cloud {
    width: 65%;
    margin-top: 5px;
  }

  .text-wrapper {
    margin: 20px;
  }
}

@media (min-width: 348px) and (max-width: 460px) {
  
  .text-wrapper {
    margin: 20px;
  }

  .word-cloud {
    width: 70%;
    margin-top: 10px;
  }
}

@media (min-width: 461px) and (max-width: 510px) {
  .home-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .word-cloud {
    width: 70%;
    margin-top: 15px;
  }
}

@media (min-width: 511px) and (max-width: 767px) {
  .word-cloud {
    width: 75%;
    margin: 15px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .word-cloud {
    width: 70%;
    margin: 10px;
  }

  .home-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
 
  .word-cloud {
    width: 80%;
  }

  .home-wrapper {
    /* margin: 50px auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
}
