.navbar {
  height: 4.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: #e86e80;
}

.navbar-wrapper {
  width: 100%;
  display: flex;
  /* flex-direction: row;
  justify-content: center;
  align-content: center; */
  height: 4rem;
  line-height: 4rem;
}

.navbar-left-side {
  width: 20%;
  height: fit-content;
  /* vertical-align: middle; */
  /* display: flex; */
  /* align-content: flex-start; */
}

.navbar-right-side {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.app-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 62.59px;
  cursor: pointer;
  vertical-align: middle;
  /* margin-left: 2rem; */
  /* margin-bottom: 1rem; */
  border-radius: 5px;
}

.nav-links {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-decoration: none !important;
  padding: 0.1rem 1rem;
  letter-spacing: 0.1rem;
  position: relative;
}

@media screen and (max-width: 340px) {
  .navbar-left-side {
    width: 40%;
    height: fit-content;
    /* vertical-align: middle; */
    /* display: flex; */
    /* align-content: flex-start; */
  }

  .navbar-right-side {
    width: 60%;
    /* display: flex;
        justify-content: flex-end; */
  }
}

@media screen and (max-width: 860px) {
  .menu-icon {
    display: flex;
    position: absolute;
    top: 9px;
    right: 0;
    transform: translate(-120%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 20;
  }

  .fa-times::before,
  .fa-bars {
    /* color: rgb(97, 20, 141); */
    color: #fff;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0;
    left: -250%;
    transition: all 0.5s ease;
    list-style: none;
  }

  .nav-menu.active {
    padding: 0;
    padding-top: 35px;
    margin: 0;
    background: #050505;
    opacity: 70%;
    left: 0;
    transition: all 0.5s ease;
    z-index: 1;
    width: 100%;
    line-height: 3rem;
  }

  .nav-links {
    text-align: center;
    /* padding: 2rem; */
    margin: 25px auto;
    width: 20%;
    bottom: 0;
    display: table;
    color: rgb(255, 255, 255);
  }

  .nav-links:hover {
    content: "";
    position: relative;
    font-size: 2rem;
    animation: pulsate 0.11s ease-in-out infinite alternate;
    color: rgb(216, 136, 253);
    /* text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
      0 0 42px rgb(247, 67, 232), 0 0 82px rgb(127, 89, 231),
      0 0 92px rgb(200, 65, 241), 0 0 102px rgb(216, 48, 250),
      0 0 151px rgb(229, 59, 245); */
  }
}

@media (min-width: 53em) and (orientation: landscape) {
  .menu-icon {
    display: none;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    text-decoration: none;
  }

  .nav-links:hover {
    color: #fff !important;
  }

  .nav-links::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 0%;
    height: 5px;
    background-image: linear-gradient(
      to right,
      rgb(140, 209, 250),
      rgb(102, 0, 128)
    );
    transition: width 0.3s ease-out;
  }

  .nav-links:hover::before {
    color: #fff;
    width: 75%;
    left: 12px;
    right: auto;
  }
}

@media (min-width: 60.5em) and (orientation: landscape) {
  .navbar-logo {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 0 !important; */
    /* padding-bottom: 0 !important; */
    padding-top: 0 !important;
    align-content: center;
    justify-content: center;
  }
}
