.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}

@media (min-width: 576px) and (max-width: 599px) {
  .button-links {
    width: 119.73px;
    margin-right: 8px;
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .button-links {
    width: 119.73px;
    margin-right: 8px;
    margin-top: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .button-links {
    width: 119.73px;
    margin-right: 8px;
    margin-top: 10px;
  }
}
