/* @media screen and (max-width: 860px) {
  .skills-intro {
    font-size: large;
    padding: 20px 0;
  }
}

@media (min-width: 53em) and (orientation: landscape) {
  .skills-container {
    display: flex;
    flex-direction: column;
    height: 78vh;
  }

  .skills-intro {
    margin: 0 auto;
    padding: 50px 0;
  }
} */

.skills-tool-logo {
  width: 40%;
  margin: 0 auto;
  box-shadow: 0 0 10px;
  background: #e9b000;
}

@media screen and (max-width: 360px) {
  .last-label {
    margin-bottom: 65px;
  }
}

@media (min-width: 361px) and (max-width: 991px) {
  .last-label {
    margin-bottom: 40px;
  }
}
