@media screen and (max-width: 860px) {
  .skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    margin: 10px;
  }

  .skills-tool-logo {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 2.5rem;
  }

  .skills-tool-label {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    font-size: 1rem;
  }
}

@media (min-width: 53em) and (orientation: landscape) {
  .skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    margin: 10px;
  }

  .skills-tool-logo {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 3rem;
  }

  .skills-tool-label {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    font-size: 1rem;
  }
}

@media (min-width: 63em) and (orientation: landscape) {
  .skills-tool-logo {
    font-size: 3.5rem;
  }
}
