*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

.App {
  border: 6px solid rgb(149, 73, 194);
  border-radius: 5px;
  background: #f8d7f5;
}

.home,
.about,
.skills,
.projects,
.contact {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

a {
  color: unset;
  text-decoration: none;
}
